*Thesidebarmenu*/
.sidenav{height:100%;
/*Full-height:removethisifyouwant"auto"height*/
width:160px;
/*Setthewidthofthesidebar*/
position:fixed;
/*FixedSidebar(stayinplaceonscroll)*/z-index:1;/
*Stayontop*/top:0;
/*Stayatthetop*/

left:0;
background-color:rgba(200,200,200,0.7);
Blackoverflow-x:hidden;
/*Disablehorizontalscroll*/
padding-top:20px;}
/*Thenavigationmenulinks*/
.sidenava{padding:6px8px6px16px;
text-decoration:none;
font-size:25px;display:block;
}
/*Whenyoumouseoverthenavigationlinks,changetheircolor*/
.sidenava:hover{color:#f1f1f1;
}
/*Stylepagecontent*/
.main{
margin-left:160px;
/*Sameasthewidthofthesidebar*/
padding:0px10px;
}
/*Onsmallerscreens,whereheightislessthan450px,changethestyleofthesidebar(lesspaddingandasmallerfontsize)*/
@mediascreenand(max-height:450px){
.sidenav{
padding-top:15px;
}
.sidenava{
font-size:18px;
}
}